<h1>List of photos</h1>

<hr>

<form action="/insert_photo" method="post">
  <label for="image_box">Image</label>
  <input id="image_box" type="text" name="query_image" placeholder="Enter a URL for the image...">

  <label for="caption_box">Caption</label>
  <textarea id="caption_box" name="query_caption" placeholder="Enter a caption for the photo..."></textarea>

  <label for="owner_id_box">Owner ID</label>
  <input id="owner_id_box" type="text" name="query_owner_id" placeholder="Enter an ID of a User">

  <button>Add photo</button>
</form>

<hr>


<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Caption
    </th>

    <th>
      Owner
    </th>

    <th>
      Posted
    </th>

    <td>
    </td>
  </tr>

  <% @list_of_photos.each do |a_photo| %>
  <tr>
    <td>
      <img src="<%= a_photo.image %>">
    </td>

    <td>
      <%= a_photo.poster.username %>
    </td>

    <td>
      <%= a_photo.caption %>
    </td>

    <td>
      <%= a_photo.created_at %>
    </td>

    <td>
      <a href="/photos/<%= a_photo.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
